
.App {
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.Body-app{
  margin: 40px;
  display: block;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}


.App-header {
  background-color: #e6c4b1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
